 {% extends 'review/base.html' %}

    {% block content %}
        <div class="review">
        	<a class="btn btn-default" href="{% url 'review_edit' pk=review.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% if review.created_date %}
                <div class="date">
                    {{ review.created_date }}
                </div>
            {% endif %}
            <h1>{{ review.film }}</h1>
            <p>{{ review.text|linebreaks }}</p>
        </div>
    {% endblock %}